## Simple space mission analysis with PyStarburst and Galaxy

### Prepare the environment

First run the following in your terminal

`$ python -m venv venv`

`$ source venv\bin\activate`

In addition, you'll need a [Starburst Galaxy]("https://www.starburst.io/platform/starburst-galaxy/start/") account with a sample catalog [setup]("https://docs.starburst.io/starburst-galaxy/catalogs/sample.html") alongside a writeable catalog for storing the results.

In [73]:
# Install the library

%pip install https://starburstdata-downloads.s3.amazonaws.com/pystarburst/0.5.0/pystarburst-0.5.0-py3-none-any.whl

Collecting pystarburst==0.5.0
  Using cached https://starburstdata-downloads.s3.amazonaws.com/pystarburst/0.5.0/pystarburst-0.5.0-py3-none-any.whl (121 kB)
Requirement already satisfied: psutil<6.0.0,>=5.9.5 in ./.venv/lib/python3.11/site-packages (from pystarburst==0.5.0) (5.9.5)
Requirement already satisfied: pydantic<2.0.0,>=1.10.10 in ./.venv/lib/python3.11/site-packages (from pystarburst==0.5.0) (1.10.12)
Requirement already satisfied: python-dateutil<3.0.0,>=2.8.2 in ./.venv/lib/python3.11/site-packages (from pystarburst==0.5.0) (2.8.2)
Requirement already satisfied: trino<0.327.0,>=0.326.0 in ./.venv/lib/python3.11/site-packages (from pystarburst==0.5.0) (0.326.0)
Requirement already satisfied: typing-extensions<5.0.0,>=4.7.1 in ./.venv/lib/python3.11/site-packages (from pystarburst==0.5.0) (4.7.1)
Requirement already satisfied: six>=1.5 in ./.venv/lib/python3.11/site-packages (from python-dateutil<3.0.0,>=2.8.2->pystarburst==0.5.0) (1.16.0)
Requirement already satisfied: pytz in ./.venv/lib/python3.11/site-packages (from trino<0.327.0,>=0.326.0->pystarburst==0.5.0) (2023.3.post1)
Requirement already satisfied: requests>=2.31.0 in ./.venv/lib/python3.11/site-packages (from trino<0.327.0,>=0.326.0->pystarburst==0.5.0) (2.31.0)
Requirement already satisfied: tzlocal in ./.venv/lib/python3.11/site-packages (from trino<0.327.0,>=0.326.0->pystarburst==0.5.0) (5.0.1)
Requirement already satisfied: charset-normalizer<4,>=2 in ./.venv/lib/python3.11/site-packages (from requests>=2.31.0->trino<0.327.0,>=0.326.0->pystarburst==0.5.0) (3.2.0)
Requirement already satisfied: idna<4,>=2.5 in ./.venv/lib/python3.11/site-packages (from requests>=2.31.0->trino<0.327.0,>=0.326.0->pystarburst==0.5.0) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in ./.venv/lib/python3.11/site-packages (from requests>=2.31.0->trino<0.327.0,>=0.326.0->pystarburst==0.5.0) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in ./.venv/lib/python3.11/site-packages (from requests>=2.31.0->trino<0.327.0,>=0.326.0->pystarburst==0.5.0) (2023.7.22)
Note: you may need to restart the kernel to use updated packages.

In [74]:
# Import dependencies

from pystarburst import Session
from pystarburst import functions as f
from pystarburst.functions import col

import trino

# Define Connection Properties
# You can get the host and other information from the Partner Connect -> PyStarburst section in Galaxy

session_properties = {
    "user": "alex.breshears@starburstdata.com",
    "host": "monicamillersbdemo-sample.trino.galaxy.starburst.io",
    "port": 443,
    # Needed for https secured clusters
    "http_scheme": "https",
    # Setup authentication through login or password or any other supported authentication methods
    # See docs: https://github.com/trinodb/trino-python-client#authentication-mechanisms
    "auth": trino.auth.BasicAuthentication("alex.breshears@starburstdata.com/accountadmin", "HGZpwCYUC36yGZh")
}

session = Session.builder.configs(session_properties).create()

In [75]:
# Validate connectivity to the cluster

session.sql("select 1 as b").collect()

[Row(b=1)]

In [76]:
#
# Let's now understand our datasets
#

session.sql("SHOW CATALOGS").collect()

# We'll use the "sample" catalog for this example

# List out schemas
session.sql("SHOW SCHEMAS FROM sample").collect()
session.sql("USE sample.demo").collect()

# List our tables
session.sql("SHOW TABLES").collect()

df_missions = session.table("sample.demo.missions")

print(df_missions.schema)
df_missions.show()

df_missions.describe().show()

StructType([StructField('id', IntegerType(), nullable=True), StructField('company_name', StringType(), nullable=True), StructField('location', StringType(), nullable=True), StructField('date', StringType(), nullable=True), StructField('detail', StringType(), nullable=True), StructField('status_rocket', StringType(), nullable=True), StructField('cost', DoubleType(), nullable=True), StructField('status_mission', StringType(), nullable=True)])
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
|"id"  |"company_name"  |"location"                                          |"date"                      |"detail"                                            |"status_rocket"  |"cost"  |"status_mission"  |
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
|0     |SpaceX          |LC-39A, Kennedy Space Center, Florida, USA          |Fri Aug 07, 2020 05:12 UTC  |Falcon 9 Block 5 | Starlink V1 L9 & BlackSky        |StatusActive     |50.0    |Success           |
|1     |CASC            |Site 9401 (SLS-2), Jiuquan Satellite Launch Cen...  |Thu Aug 06, 2020 04:01 UTC  |Long March 2D | Gaofen-9 04 & Q-SAT                 |StatusActive     |29.75   |Success           |
|2     |SpaceX          |Pad A, Boca Chica, Texas, USA                       |Tue Aug 04, 2020 23:57 UTC  |Starship Prototype | 150 Meter Hop                  |StatusActive     |NULL    |Success           |
|3     |Roscosmos       |Site 200/39, Baikonur Cosmodrome, Kazakhstan        |Thu Jul 30, 2020 21:25 UTC  |Proton-M/Briz-M | Ekspress-80 & Ekspress-103        |StatusActive     |65.0    |Success           |
|4     |ULA             |SLC-41, Cape Canaveral AFS, Florida, USA            |Thu Jul 30, 2020 11:50 UTC  |Atlas V 541 | Perseverance                          |StatusActive     |145.0   |Success           |
|5     |CASC            |LC-9, Taiyuan Satellite Launch Center, China        |Sat Jul 25, 2020 03:13 UTC  |Long March 4B | Ziyuan-3 03, Apocalypse-10 & NJ...  |StatusActive     |64.68   |Success           |
|6     |Roscosmos       |Site 31/6, Baikonur Cosmodrome, Kazakhstan          |Thu Jul 23, 2020 14:26 UTC  |Soyuz 2.1a | Progress MS-15                         |StatusActive     |48.5    |Success           |
|7     |CASC            |LC-101, Wenchang Satellite Launch Center, China     |Thu Jul 23, 2020 04:41 UTC  |Long March 5 | Tianwen-1                            |StatusActive     |NULL    |Success           |
|8     |SpaceX          |SLC-40, Cape Canaveral AFS, Florida, USA            |Mon Jul 20, 2020 21:30 UTC  |Falcon 9 Block 5 | ANASIS-II                        |StatusActive     |50.0    |Success           |
|9     |JAXA            |LA-Y1, Tanegashima Space Center, Japan              |Sun Jul 19, 2020 21:58 UTC  |H-IIA 202 | Hope Mars Mission                       |StatusActive     |90.0    |Success           |
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
|"summary"  |"id"                |"company_name"  |"location"                                       |"date"                      |"detail"                  |"status_rocket"  |"cost"              |"status_mission"  |
-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
|count      |4324.0              |4324            |4324                                             |4324                        |4324                      |4324             |949.0               |4324              |
|mean       |2161.5              |NULL            |NULL                                             |NULL                        |NULL                      |NULL             |129.79523709167552  |NULL              |
|stddev     |1248.3756112110916  |NULL            |NULL                                             |NULL                        |NULL                      |NULL             |143.2203233531596   |NULL              |
|min        |0.0                 |AEB             |Blue Origin Launch Site, West Texas, Texas, USA  |Fri Apr 01, 1960 11:40 UTC  |ASLV | SROSS C            |StatusActive     |5.3                 |Failure           |
|max        |4323.0              |i-Space         |Xichang Satellite Launch Center, China           |Wed Sep 30, 2015 20:30 UTC  |ZhuQue-1 | CCTV Future-1  |StatusRetired    |450.0               |Success           |
-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

In [77]:
#
# There's some data clean up needed - plus we want to only look at missions since the year 2000
#

import datetime

df_missions = session.table("sample.demo.missions")

# We can add abritray SQL expressions as needed
df_missions = df_missions.with_column("date", f.sql_expr("COALESCE(TRY(date_parse(\"date\", '%a %b %d, %Y %H:%i UTC')), NULL)"))

print(df_missions.schema)

df_missions = df_missions.filter(col("date") > f.lit(datetime.datetime.strptime("01/01/2000", "%m/%d/%Y")))
df_missions = df_missions.sort(col("date"), ascending=True)

df_missions.show()

StructType([StructField('id', IntegerType(), nullable=True), StructField('company_name', StringType(), nullable=True), StructField('location', StringType(), nullable=True), StructField('detail', StringType(), nullable=True), StructField('status_rocket', StringType(), nullable=True), StructField('cost', DoubleType(), nullable=True), StructField('status_mission', StringType(), nullable=True), StructField('date', TimestampNTZType(), nullable=True)])
------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
|"id"  |"company_name"  |"location"                                         |"detail"                          |"status_rocket"  |"cost"  |"status_mission"  |"date"               |
------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
|1213  |Lockheed        |SLC-36A, Cape Canaveral AFS, Florida, USA          |Atlas IIA | DSCS IIIB-8           |StatusRetired    |NULL    |Success           |2000-01-21 01:03:00  |
|1212  |Arianespace     |ELA-2, Guiana Space Centre, French Guiana, France  |Ariane 42L | Galaxy 10R           |StatusRetired    |NULL    |Success           |2000-01-25 01:04:00  |
|1211  |CASC            |LC-2, Xichang Satellite Launch Center, China       |Long March 3A | ChinaSat-22       |StatusActive     |69.7    |Success           |2000-01-25 16:45:00  |
|1210  |Northrop        |SLC-8, Vandenberg AFB, California, USA             |Minotaur I | JAWSat               |StatusActive     |40.0    |Success           |2000-01-27 03:03:00  |
|1209  |ILS             |SLC-36B, Cape Canaveral AFS, Florida, USA          |Atlas IIAS | Hispasat 1C          |StatusRetired    |NULL    |Success           |2000-02-03 23:30:00  |
|1208  |Boeing          |SLC-17B, Cape Canaveral AFS, Florida, USA          |Delta II 7920-10C | Globalstar 7  |StatusRetired    |NULL    |Success           |2000-02-08 21:24:00  |
|1207  |ISAS            |Mu Pad, Uchinoura Space Center, Japan              |Mu-V / M-24 | Astro E             |StatusRetired    |NULL    |Failure           |2000-02-10 01:30:00  |
|1206  |NASA            |LC-39A, Kennedy Space Center, Florida, USA         |Space Shuttle Endeavour | STS-99  |StatusRetired    |450.0   |Success           |2000-02-11 16:43:00  |
|1205  |Arianespace     |ELA-2, Guiana Space Centre, French Guiana, France  |Ariane 44LP | Superbird 4         |StatusRetired    |NULL    |Success           |2000-02-18 01:04:00  |
|1204  |VKS RF          |Site 45/1, Baikonur Cosmodrome, Kazakhstan         |Zenit-2 | Cosmos 2369             |StatusRetired    |NULL    |Success           |2000-03-02 09:26:00  |
------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

In [78]:
#
# Next we'll do a basic aggergation for summarization
#

df_summarized = df_missions.group_by("company_name").agg(col("*"), "count").rename("count(1)", "num_missions")
df_summarized = df_summarized.sort(col("num_missions").desc())
df_summarized.show(n=100)

-----------------------------------
|"company_name"  |"num_missions"  |
-----------------------------------
|CASC            |179             |
|Arianespace     |166             |
|ULA             |140             |
|SpaceX          |100             |
|VKS RF          |97              |
|ISRO            |62              |
|Roscosmos       |54              |
|Northrop        |51              |
|MHI             |50              |
|Boeing          |46              |
|NASA            |40              |
|Sea Launch      |32              |
|Lockheed        |30              |
|ILS             |24              |
|Kosmotras       |20              |
|Eurockot        |13              |
|Rocket Lab      |13              |
|ExPace          |10              |
|Blue Origin     |7               |
|JAXA            |7               |
|Land Launch     |7               |
|ISAS            |5               |
|KCST            |4               |
|Exos            |4               |
|MITT            |3               |
|CASIC           |3               |
|KARI            |3               |
|IAI             |2               |
|SRC             |2               |
|ISA             |2               |
|i-Space         |1               |
|ESA             |1               |
|Virgin Orbit    |1               |
|OneSpace        |1               |
|IRGC            |1               |
|Khrunichev      |1               |
|Starsem         |1               |
|Landspace       |1               |
-----------------------------------

In [79]:
#
# Finally, let's write the table to our data lake
#

session.sql("CREATE SCHEMA IF NOT EXISTS use_for_general_aws.pystarburst_mis_sum").collect()

session.sql("DROP TABLE IF EXISTS use_for_general_aws.pystarburst_mis_sum.missions_summary").collect()

df_summarized.write.save_as_table(
    "use_for_general_aws.pystarburst_mis_sum.missions_summary",
)

df_validation = session.table("use_for_general_aws.pystarburst_mis_sum.missions_summary").show()

-----------------------------------
|"company_name"  |"num_missions"  |
-----------------------------------
|SpaceX          |100             |
|ULA             |140             |
|JAXA            |7               |
|Northrop        |51              |
|IAI             |2               |
|Rocket Lab      |13              |
|MHI             |50              |
|ISA             |2               |
|Blue Origin     |7               |
|Exos            |4               |
-----------------------------------